# Eclipse
.classpath
.project
.settings/
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
*.classpath
*.iml
*.ipr
*.iws
.settings/
work/
nbactions.xml
nb-configuration.xml
.idea/
*.log
*.launch

# Byte code
*.class

# Directories
bin/
tmp/
*.tmp/
*.bak/
*.swp/
*~.nib/
local.properties
.settings/
.vscode/
*.war
target/
log/
logs/
build/
classes/

# Personalización propia
Borrador*.java
